<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>HomePageServlet</servlet-name>
  	<display-name>HomePageServlet</display-name>
  	<description></description>
  	<servlet-class>com.dollarsbank.servlet.HomePageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoggedInServlet</servlet-name>
  	<display-name>LoggedInServlet</display-name>
  	<description></description>
  	<servlet-class>com.dollarsbank.servlet.LoggedInServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewAccountServlet</servlet-name>
  	<display-name>NewAccountServlet</display-name>
  	<description></description>
  	<servlet-class>com.dollarsbank.servlet.NewAccountServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DepositServlet</servlet-name>
  	<display-name>DepositServlet</display-name>
  	<description></description>
  	<servlet-class>com.dollarsbank.servlet.DepositServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WithdrawServlet</servlet-name>
  	<display-name>WithdrawServlet</display-name>
  	<description></description>
  	<servlet-class>com.dollarsbank.servlet.WithdrawServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TransferServlet</servlet-name>
  	<display-name>TransferServlet</display-name>
  	<description></description>
  	<servlet-class>com.dollarsbank.servlet.TransferServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PasswordServlet</servlet-name>
  	<display-name>PasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.dollarsbank.servlet.PasswordServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>HomePageServlet</servlet-name>
  	<url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoggedInServlet</servlet-name>
  	<url-pattern>/LoggedInServlet</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>NewAccountServlet</servlet-name>
  	<url-pattern>/NewAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepositServlet</servlet-name>
  	<url-pattern>/DepositServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WithdrawServlet</servlet-name>
  	<url-pattern>/WithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TransferServlet</servlet-name>
  	<url-pattern>/TransferServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordServlet</servlet-name>
  	<url-pattern>/PasswordServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
